# Dependencies
/node_modules/

# Production & Build Outputs
/dist/
/build/
/out/
/.next/
/public/build/

# Testing & Coverage
/coverage/

# Logs & Environment
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*

# Lock Files (Optional)
package-lock.json
yarn.lock
pnpm-lock.yaml

# Minified or Generated Third-Party Files
*.min.js
*.min.css
